/*nav.navbar > a {*/
    /*line-height: 100%;*/
/*}*/

nav {
	box-sizing: border-box;
}

nav>div.container {
	max-width: 100%;
}

div.form-group {
	position: relative;
}

div.form-wrapper {
	padding: 15px;
}

div.panel.login-panel {
	max-width: 600px;
}

form {
	margin: 0;
}

.btn {
	padding-left: 20px;
	padding-right: 20px;
}