/*nav.navbar > a {*/
    /*line-height: 100%;*/
/*}*/

nav {
	box-sizing: border-box;
}

nav>div.container {
	max-width: 100%;
}

div.container>div.alert {
	margin-top: 10px;
}

div.form-group {
	position: relative;
}

div.form-group>input.form-control {
	margin-top: 10px;
}

div.form-wrapper {
	padding: 15px;
}

div.panel.limited-width-panel {
	max-width: 600px;
}

form {
	margin: 0;
}

.btn {
	padding-left: 20px;
	padding-right: 20px;
}

#register-link {
	max-width: 90px;
	margin-top: 10px;
}