/*nav.navbar > a {*/
    /*line-height: 100%;*/
/*}*/

div.form-group {
	position: relative;
}

form input, form button {
	position: relative;
	box-sizing: border-box;
	margin: 10px;
	max-width: 95%;
}